index-sandbox

<!-- 
  <div ng-controller="SignupC">
    <h2>Create user</h2>
    <form ng-submit="submit()" name="authorization">
      email <input type="email" ng-model="auth.email"/>
      password <input type="password" ng-model="auth.password"/>
      <input type="submit" value="submit">
    </form>
  </div>

  <div ng-controller="LoginC">
    <h2>Login user</h2>
    <form ng-submit="submit()" name="authorization">
      email <input type="email" ng-model="auth.email"/>
      password <input type="password" ng-model="auth.password"/>
      <input type="submit" value="submit">
    </form>
    <button ng-click="logout()" name="logout">Logout</button>
  </div>
 -->

 <div ng-controller="TestC">
    <form ng-submit="submit()" name="testInput">
      key <input type="text" ng-model="box.prop"/>
      value <input type="text" ng-model="box.val"/>
      <input type='submit' value='submit'>
    </form>
      <h1>{{ box.test }}</h1>
      <h2>{{ trial }}</h2>
      <h2>{{ box.prop }}</h2>
      <h2>{{ box.val }}</h2>
  </div>
  