<div ng-controller="DreamsC">

  <div class='search-box'>Search:
  <input type='text' name='Search' ng-model='search'>
  </div>
  <div class="row">
  <div ng-repeat="dream in personalDreams | filter:search">
    <!-- <backgroundLink background={{dream.background}}, text={{dream.text}}, font={{dream.font}}, encouragements={{dream.encouragements}}> -->
    <div class="col-xs-offset-2 col-xs-3 previous-dream {{ dream.font }} {{ dream.background }}" ng-click="modalDream(dream)">
      <p>{{ dream.text }}</p>
      <span class="encourage"> Encouragements: {{ dream.encouragements }} </span>
    </div>
  </div>
  </div>
  <div class="spaces"></div>
</div>