
<div ng-controller="RootC" class="container" id="main">
<!-- HEADER -->
  <nav class="navbar navbar-default navbar-fixed-top container" role="navigation">
    <div class="pull-left logo">
      The Dream Catcher
    </div>
    <div class="pull-right">
    <ul class="nav navbar-nav">
      
      <li class="icon-bar" ng-class="{iconBarSelected: bar0}"><a ng-click="runInfinity(0)" ui-sref="root.home">Home</a></li>
      <li class="icon-bar" ng-class="{iconBarSelected: bar1}"><a ng-click="runInfinity(1)" ui-sref='root.mydreams'>My Dreams</a></li>
      <li class="icon-bar" ng-class="{iconBarSelected: bar2}"><a ng-click="runInfinity(2)" ui-sref='root.inspirations'>Inspiration</a></li>
      <li class="icon-bar" ng-class="{iconBarSelected: bar3}"><a ng-click="runInfinity(3)" ui-sref='root.browse'>Browse</a></li>
      <!-- <li class="icon-bar"><a ng-click="runInfinity()" ui-sref='root.settings'>Settings</a></li> -->
      <li class="icon-bar"><a ng-click="logout()" ui-sref='authorization'>Logout</a></li>
    </ul>
  
    </div>
  </nav>

  <div ui-view></div>
<!-- FOOTER -->
<div id="footer" class="navbar navbar-fixed-bottom container">
</div>
</div>
