body {
  background-color: #FFF6EC;
  padding-top: 70px;
  font-family: 'Dancing Script'
}

input {
  border-radius: 10px;
  margin: 5px;
}

.container {
  background-color: #FFF6EC;
}

.auth-box {
  background-color: #FAFAFA;
  width: 700px;
  height: auto;
  margin: 20px auto;
  padding: 30px;
  border: solid black 3px;
  border-radius: 10px;
  font-size: 150%;
}

.toggle {
  margin-top: 20px;
}

.navbar {
  background-color: #FFF6EC;
  border-bottom: 1px solid black;
}

#footer {
  background-color: #FFF6EC;
}

.icon-bar {
  font-size: 150%;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 10px;
}

.logo {
  font-size: 200%;
  font-weight: bold;
  padding: 7px;
  margin: 8px;
  background-color: #A7A377;
  border-radius: 10px;
}

.icon-bar:hover {
  background-color: #FFE1C1;
}

.iconBarSelected {
  background-color: #FFD2A5;
}

.body > #footer {
  padding-top: 60px;
}

.bgoption {
  height: 80px;
  background-size: cover;
}

.trending {
  text-align: center;
  font-weight: bold;
  margin: 30px 0 20px;
  font-size: 250%;
}

.dream-to-be {
  height: 250px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-size: cover;
  font-size: 300%;
  font-weight: bold;
  text-align: center;
  border: 3px solid black;
  border-radius: 20px;
  cursor: pointer; 
  cursor: hand;
}

.dream-to-be > p {
  padding-top: 5%;
}

.previous-dream {
  height: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-size: cover;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  border: 3px solid black;
  border-radius: 10px;
  cursor: pointer; 
  cursor: hand;
}

.previous-dream > p {
  padding-top: 5%;
}

.previous-dream > span {
  bottom: -30px;
  left: 10px;
  text-align: center;
  font-family: 'Dancing Script';
  font-size: 75%;
  position: absolute;
}

.three-backgrounds {
  margin-top: 10px;
}

.three-backgrounds > div {
  border-radius: 10px;
}

.background-option-one {
  background-image: url('../../backgrounds/balloon.jpg');
}

.background-option-two {
  background-image: url('../../backgrounds/vintage-floral2.jpeg');
}

.background-option-three {
  background-image: url('../../backgrounds/open-green.jpg');
}

.fontoption {
  text-align: center;
  padding: 7px;
}

.font-option-one {
  font-family: "The Girl Next Door";
}

.font-option-two {
  font-family: "Griffy";
}

.font-option-three {
  font-family: "Special Elite";
}

.selected {
  border: 5px solid black;
  border-radius: 10px;
}

.new-dream-form {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 100px;
  font-size: 200%;
}

.new-dream-form > form > input:first-child {
  width: 400px;
  margin-right: 20px;
}

.search-box {
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 150%;
}

.spaces {
  margin-bottom: 100px;
}

.browse-button {
  text-align: center;
  margin: 10px 5px 100px;
  background-color: #FFF6EC;
  border: 3px solid black;
  font-size: 150%;
  border-radius: 10px;
}

.modal-body {
  background-color: #FFF6EC;
}

.modal-dream {
  height: 500px;
  font-size: 400%;
}
